@model SistemaVIP.Core.DTOs.ServicioExtraCatalogoDto

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>

            <dt class="col-sm-3">Descripción</dt>
            <dd class="col-sm-9">@Model.Descripcion</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">
                <span class="badge bg-@(Model.Estado ? "success" : "danger")">
                    @(Model.Estado ? "Activo" : "Inactivo")
                </span>
            </dd>
        </dl>
    </div>
</div>