@{
    ViewData["Title"] = "Gestión de Servicios Extra";
}

<head>
    <link rel="stylesheet" href="~/css/servicios/servicios-extra.css" asp-append-version="true" />
</head>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            @await Html.PartialAsync("~/Views/Servicios/ServicioExtra/_ListaServiciosExtra.cshtml")
        </div>
    </div>
</div>

<script src="~/js/servicios/servicios-extra.js" asp-append-version="true"></script>