@{
    ViewData["Title"] = "Gestión de Terapeutas";
}

<head>
    <link rel="stylesheet" href="~/css/personal/terapeutas.css" asp-append-version="true" />
</head>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            @await Html.PartialAsync("~/Views/Personal/Terapeutas/_ListaTerapeutas.cshtml")
        </div>
    </div>

    <div id="modalSection" style="display: none;">
        <!-- Aquí se cargarán los modales dinámicamente -->
    </div>
</div>

<script src="~/js/personal/terapeutas.js" asp-append-version="true"></script>